# Godot-specific
.godot/
*.import
*.import.cfg
*.tres
*.res
*.gdcache
*.preset
import/
export_presets.cfg
*.translation.csv
*.translation.json

# Backup files
*~
*.bak
*.tmp

# Builds
[Bb]uilds/
[Ee]xport/
[Ee]xports/
*.exe
*.exe.*
*.dll
*.so
*.dylib
*.class
*.egg
*.exe
*.log
*.csd
*.dll
*.exe
*.exp
*.lib
*.o
*.obj
*.exe
*.ilk
*.meta
*.obj
*.idb
*.pdb
*.manifest
*.res
*.exe
*.filters
*.cpp
*.cxx
*.cc
*.hh
*.hpp
*.h
*.inl
*.ipp
*.java
*.class
*.jar
*.war
*.ear
*.zip
*.tar
*.tar.gz
*.rar
*.7z
*.dmg
*.iso
*.toast
*.cdr
*.nrg
*.bin
*.cue
*.tlo
*.tc
*.dmg
*.hdi
*.toast
*.cdr
*.iso
*.nrg
*.bin
*.cue
*.tlo
*.tc
*.log
*.sql
*.sqlite
*.csd
*.dll
*.exe
*.exp
*.lib
*.o
*.obj
*.ilk
*.pdb
*.idb
*.manifest
*.res
*.txt
*.xml
*.html
*.css
*.js
*.json
*.yaml
*.yml
*.toml
*.ini
*.cfg
*.conf
*.config
*.properties
*.properties
*.tfstate
*.tfstate.backup
*.tfplan
*.tfplan.*
*.lock
*.rc
*.log
*.cache
*.csproj
*.sln
*.suo
*.user
*.userosscache
*.sln.docstates
# End of .gitignore